<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Site web de Jules Chevenet</title>
  </head>

  <body>
    <div id="bloc_page">

      <header>
        <div id="titre_header">
          <h1>Site web de Jules Chevenet</h1>
        </div>
        <nav id=menu>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="proj-scol">Projets Scolaires</a></li>
            <li><a href="proj-pers">Projets Personnels</a></li>
            <li><a href="#">CV</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <section id = "CV">
        
            <!-- <embed id ="pdf_CV" src="../static/pdf/CV_Jules_Chevenet.pdf" type='application/pdf'/> ne fonctionne pas ???-->
            <img id = "image_CV" width=60% height=60% src="../static/images/CV_jules_chevenet.jpg">
            <a class = "boutton" href="../static/pdf/CV_jules_chevenet.pdf" download="CV_Jules_Chevenet.pdf">Télécharger</a>
      </section>

      <footer>
        <div id =titre_footer>
          <h4>Réseaux sociaux :</h4>
        </div>
        <div>
          <nav id = endlink>
            <ul>
              <li><a href="https://www.linkedin.com/in/jules-chevenet-4441b4189/">LinkedIn</a></li>
              <li><a href="https://www.kaggle.com/juleschevenet">Kaggle</a></li>
              <li><a href="https://github.com/ptitchev">GitHub</a></li>
              <li><a href="https://git.esiee.fr/chevenej">GitESIEE</a></li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>