<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Site web de Jules Chevenet</title>
  </head>

  <body>
    <div id="bloc_page">

      <header>
        <div id="titre_header">
          <h1>Site web de Jules Chevenet</h1>
        </div>
        <nav id=menu>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="proj-scol">Projets Scolaires</a></li>
            <li><a href="proj-pers">Projets Personnels</a></li>
            <li><a href="cv">CV</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <section id="home_section">
        <div id = "home_image"><img width=100% height=100% src="../static/images/unnamed.jpg"></div>
        <div id = "home_text">
          <h2 class="home_h2">Je suis Jules Chevenet, étudiant en 4ème année d'école d'ingénieur à l'ESIEE PARIS dans la spécialité Data Science & Intelligence Artificielle.</h2>
          <p class="home_p">Vous êtes actuellement sur la page d'accueil de mon site.</p>
          <p class="home_p">Dans la partie Projets scolaires, vous pouvez découvrir nombreuses informations sur les projets que j'ai réalisé dans un cadre scolaires.</p>
          <p class="home_p">La partie Projets personnels regroupe les projets que j'ai réalisé, je suis entrain de réaliser ou que j'ai la volonté de réaliser.</p>
          <p class="home_p">Vous avez également la possibilité de visualiser et télécharger mon CV ou encore de me contacter.</p>
        </div>
      </section>

      <footer>
        <div id =titre_footer>
          <h4>Réseaux sociaux :</h4>
        </div>
        <div>
          <nav id = endlink>
            <ul>
              <li><a href="https://www.linkedin.com/in/jules-chevenet-4441b4189/">LinkedIn</a></li>
              <li><a href="https://www.kaggle.com/juleschevenet">Kaggle</a></li>
              <li><a href="https://github.com/ptitchev">GitHub</a></li>
              <li><a href="https://git.esiee.fr/chevenej">GitESIEE</a></li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
