<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Site web de Jules Chevenet</title>
  </head>

  <body>
    <div id="bloc_page">

      <header>
        <div id="titre_header">
          <h1>Site web de Jules Chevenet</h1>
        </div>
        <nav id=menu>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="proj-scol">Projets Scolaires</a></li>
            <li><a href="#">Projets Personnels</a></li>
            <li><a href="cv">CV</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      <section class = "perso">

        <div class = "youtube">
          <div class = "body_youtube">
          <h1 class = "titre_article" >Ma chaîne <a class = "lien_article" href="https://www.youtube.com/channel/UCuE6EJVjUNQC9UpF2iSPCAA">Youtube</a> :</h1>
          <p class = "p_article">Par passion, je réalise des vidéos sur le sport.</p>
          <p class = "p_article">Voici la bande annonce de la série Sportrait :</p>
          <div><center><iframe class = "video_youtube" src="https://www.youtube.com/embed/c5anjO3Ix5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></div>
          <p class = "p_article"> L'objectif de la série est de raconter au mieux l'histoire d'un sportif. Pour cela, le point d'ancrage de chaque épisode est l'instant d'une performance historique commenté. Le commentateur permet de multiplier les émotions d'un public, il me paraît important de leur rendre hommage</p>
          <nav id=ep_sportrait>
            <ul>
              <li><a href="https://www.youtube.com/watch?v=W5SFysJGGG8">Ep. 1 : Teddy Tamgho</a></li>
              <li><a href="https://www.youtube.com/watch?v=BXU9hNoZwSw">Ep. 2 : Tony Estanguet</a></li>
              <li><a href="https://www.youtube.com/watch?v=-fTwGTfmp3c">Ep. 3 : Zinédine Zidane</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class = "site">
        <div class = "body_site">
          <h1 class = "titre_article">Mon site web</h1>
          <p class = "p_article">Mon site web est un bon moyen de présenter mes projets scolaires, cepandant, il est voué à évoluer.</br>
          En effet, je souhaite le rendre plus interactif, avec notamment des vulgarisations via des exemples de ce qu'est la data science et ce qu'est l'intelligence artificielle.</br>
        L'objectif est de sensibiliser le maximum de personne à la révolution des données. </p>

        </div>
      </div>


      </section>

      <footer>
        <div id =titre_footer>
          <h4>Réseaux sociaux :</h4>
        </div>
        <div>
          <nav id = endlink>
            <ul>
              <li><a href="https://www.linkedin.com/in/jules-chevenet-4441b4189/">LinkedIn</a></li>
              <li><a href="https://www.kaggle.com/juleschevenet">Kaggle</a></li>
              <li><a href="https://github.com/ptitchev">GitHub</a></li>
              <li><a href="https://git.esiee.fr/chevenej">GitESIEE</a></li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>